.PokemonGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: center;
  margin-top: -60px;
}

/* Media query for smaller screens (e.g., tablets) */
@media (max-width: 768px) {
  .PokemonGrid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .PokemonGrid {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0 10px;
  }
  
  .PokemonCard {
    padding: 10px 5px;
  }

  .PokemonImage {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}