.button{
    background-image: url("../../assets/huevoPokemon.png");
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;
    margin-top: 20px;
    width: 700px;
    height: 150px;
}