.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%
}

.divOption{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.option {
  display: inline-block;
  padding: 8px 12px;
  background-color: #ffffffb4;
  border: 3px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  margin: 2px;
}

.labelContainer {
  display: flex;
  justify-content: center; /* Centra los radio buttons horizontalmente */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #ffffffb4;
  border: 3px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 2px;
}

.label:hover {
  background-color: rgba(255, 217, 0, 0.5);
}

.label input {
  display: none;
}

