@font-face {
  font-family: "Unown";
  src: url("../../assets/Unown.ttf") format('truetype');
}

.HomePage {
  background-image: url("../../assets/mapaHoen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.OrderFilter{
  margin-bottom: 70px;  
}