@font-face {
  font-family: "Unown";
  src: url("../../assets/Unown.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  margin-top: -140px;
}

.image {
  width: 170px;
  height: auto;
  margin-right: 10px;
}

.buttonInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button {
  font-family: "Unown", sans-serif;
  font-size: 20px; /* Ajusta el tamaño de fuente del botón según tu preferencia */
  padding: 1px 20px;
  flex-direction: row
  
}

.input {
  font-size: 12px; /* Ajusta el tamaño de fuente del botón según tu preferencia */
  padding: 5px 10px;
}