.container {
  background-image: url("../../assets/Fondo pokedex.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.button{
  width: 140px;
  height: 110px;
  background-color: transparent;
  border: transparent;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.containerPokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  margin-top: 20px;
  max-width: 90%;
  width: 300px;
  height: 300px;
}

.idNombre {
  flex-direction: row;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #ffffff25;
  border-radius: 5px;
  border: 1px solid black;
  height: 40px;
  width: 260px;
  display: flow-root;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.idNombreDB {
  flex-direction: row;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #ffffff25;
  border-radius: 5px;
  border: 1px solid black;
  height: 130px;
  width: 220px;
  display: flow-root;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.types {
  display: flex;
}

.PokemonTypeImage {
  display: inline-block;
  width: 90px;
  height: 20px;
  margin-right: 7px;
}

.h5 {
  display: flex;
}

.first {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
  margin-right: 70px;
  background-color: #ffffff25;
  border-radius: 5px;
  border: 1px solid black;
  height: 140px;
  width: 170px;
  display: flow-root; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
  margin-right: 70px;
  background-color: #ffffff25;
  border-radius: 5px;
  border: 1px solid black;
  height: 140px;
  width: 170px;
  display: flow-root; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.third{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
  margin-right: 70px;
  background-color: #ffffff25;
  border-radius: 5px;
  border: 1px solid black;
  height: 140px;
  width: 170px;
  display: flow-root;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.espacio{
  font-size: 25px;
  margin-right: 70px;
  background-color: transparent;
  height: 140px;
  justify-content: center; 
  align-items: center;
}

@media (max-width: 480px) {
  .button {
    width: 100px; /* Ajusta según sea necesario para pantallas pequeñas */
    height: 80px; /* Ajusta según sea necesario para pantallas pequeñas */
  }

  .image {
    width: 200px; /* Ajusta según sea necesario para pantallas pequeñas */
    height: 200px; /* Ajusta según sea necesario para pantallas pequeñas */
  }

  .idNombre,
  .idNombreDB,
  .first,
  .second,
  .third,
  .espacio {
    font-size: 16px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    width: auto; /* Ajusta según sea necesario para pantallas pequeñas */
    height: 80px; /* Ajusta según sea necesario para pantallas pequeñas */
    margin-right: 20px; /* Ajusta según sea necesario para pantallas pequeñas */
  }

  .PokemonTypeImage {
    width: 60px; /* Ajusta según sea necesario para pantallas pequeñas */
    height: 14px; /* Ajusta según sea necesario para pantallas pequeñas */
    margin-right: 5px; /* Ajusta según sea necesario para pantallas pequeñas */
  }
}