@font-face {
  font-family: 'Pokemon GB';
  src: url("../../assets/Pokemon_GB/Pokemon_GB.ttf") format("truetype");
}

.LandingPage {
  background-image: url("../../assets/mapaKanto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.PokemonImg {
  max-width: 100%; /* Asegura que la imagen se reduzca para ajustarse a su contenedor */
  width: auto; /* Asegura que la imagen mantenga su relación de aspecto */
  height: auto; /* Asegura que la imagen mantenga su relación de aspecto */
  margin-bottom: 5vw;
}

.h1 {
    font-size: 11px;
    font-family: "Pokemon GB";
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    height: 56px;
    line-height: 16px;
    margin: 20px auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
  }
.h1 > i {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-top: 25px;
    animation: bounce 0.5s ease-in-out 0 infinite alternate;
    float: right;
  }


.h3 {
  color: #000000;
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  border: none;
  text-shadow: 0 0 0 #000000;
}

@keyframes bounce {
  from { margin-top: 20px; }
  to { margin-top: 23px; }
}

.button {
  width: 15vw; 
  height: 15vw;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../../assets/pokebola.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border: none;
  transition: transform 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:hover {
  animation: shake 1s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}


@media (max-width: 480px) {
  .h1 {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }

  .h3 {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }

  .button {
    width: 30vw; /* Adjust button size for smaller screens */
    height: 30vw; /* Adjust button size for smaller screens */
    margin-bottom: 10vw; /* Adjust button margin for smaller screens */
  }
}