.container {
  background-image: url("../../assets/laboratorio mew.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: relative;
  height: auto; /* Elimina la altura fija para hacerlo responsive */
}

.buttonHome {
  position: absolute;
  top: 1%; /* Ajusta la posición vertical en porcentaje */
  left: 1%; /* Ajusta la posición horizontal en porcentaje */
}

.imageHome {
  /* Elimina width y height para ajustar automáticamente la imagen */
  background-color: transparent;
  border: transparent;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 140px; /* Ajusta el ancho máximo */
  height: auto; /* Ajusta la altura automáticamente */
}

.buttonSubmit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px; /* Establece el ancho deseado para hacerlo cuadrado */
  height: 140px; /* Establece la misma altura que el ancho para hacerlo cuadrado */
  padding: 10px 20px;
  border-radius: 1px;
  margin-top: 10px;
}

.buttonCreate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px; /* Ajusta el espaciado horizontal y vertical */
  border-radius: 5px;
  width: 100%;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff79;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80%; /* Ajusta el ancho del formulario */
  max-width: 400px; /* Limita el ancho máximo en pantallas grandes */
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  align-items: center;
  background-color: #ffffff79;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 24px; /* Ajusta el tamaño de fuente */
}

div.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Ajusta el margen inferior */
}

label {
  font-weight: bold;
  margin-bottom: 5px; /* Ajusta el margen inferior */
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
}

p {
  margin: 5px 0;
  font-size: 12px;
  color: rgb(0, 0, 0); /* Corrige el color de texto */
}

span {
  color: red;
  font-size: 12px;
}

div.tipos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.tipos label {
  margin-right: 10px;
}

div.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Ajusta el margen superior */
}

div.button-group button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.button-group a {
  text-decoration: none;
  color: white;
}

.tipos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.imageDiv {
  margin-bottom: 10px; /* Ajusta el margen inferior */
}

.nameAndLifeDiv {
  margin-bottom: 5px; /* Ajusta el margen inferior */
}